body, html {
	margin: 0px;
	overflow-x: hidden;
	font-family: helvetica;
	background-color: #1a1a1a;
}

.title h1 {
	text-color: black;
	font-size: 20px;
	margin-left: 20px;
	margin-top 0px;
}

.content {
	margin-top 150px;
}	
