body, html {
	margin: 0px;
	overflow-x: hidden;
	font-family: helvetica;
	background-color: #f2f2f7;
}

.maintitle {
	text-color: black;
	font-size: 20px;
	margin-left: 20px;
	margin-top 0px;
}

.content {
	margin-top 150px;
	margin-bottom: 50px;
	display: inline-block;
}	

.populartitle {
	font-size: 15px;
	margin-left: 35px;
}

.popular {
	width: 250px;
	height: 75px;
	padding: 10px;
	border-radius: 12px;
	background-color: #fff;
	margin: 10px;
	box-shadow: 1px 2px 20px black;
}

.popular img {
	width: 57px;
	height: 57px;
	border-radius: 10px;
	float: left;
}

.popular h1 {
	font-size 15px;
	color: black;
	margin-left: 50px;
	margin-top: 0px;
	margin-bottom: 2px;
	text-align: justify;
}

.navbar {
	padding-top 15px;
	padding-bottom: 15px;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: #e5e5ea;
	box-shadow: 1px 2px 20px black;
}

.tab {
	font-family: "framework7_iconsregular";
	text-decoration: none;
	margin: 10px;
	padding: 5px;
	
}
